.card-subtitle {
  font-style: italic;
}

.category-button {
  cursor: pointer;
}
.category-button:hover {
  color: var(--color-text-light);
}

.inactive {
  color: var(--color-text-dark);
}
.active {
  color: var(--color-text);
}
