<div class="d-flex ">
  <div class="container">

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <form #articleForm="ngForm" (ngSubmit)="sendForm(article)">

      <div class="form-group">
        <label> Title*: </label>
        <input class="form-control" type="text" required [(ngModel)]="article.title" name="atitle" #atitle="ngModel"
               [ngClass]="atitle.valid || atitle.pristine ? '': 'border border-danger input-error'">
      </div>

      <div class="form-group">
        <label> Subtitle*: </label>
        <input class="form-control" type="text" required [(ngModel)]="article.subtitle" name="asubtitle" #asubtitle="ngModel"
               [ngClass]="asubtitle.valid || asubtitle.pristine ? '': 'border border-danger input-error'">
      </div>

      <div class="form-group">
        <label> Category*: </label>
        <select class="form-control" type="text" required [(ngModel)]="article.category" name="acategory" #acategory="ngModel">
          <option disabled selected value> -- Select a Category -- </option>
          <option value="National">National</option>
          <option value="Economy">Economy</option>
          <option value="Sports">Sports</option>
          <option value="Technology">Technology</option>
        </select>
      </div>

      <div class="form-group">
        <label> Abstract*: </label>
        <input class="form-control" type="text" required [(ngModel)]="article.abstract" name="aabstract" #aabstract="ngModel"
               [ngClass]="aabstract.valid || aabstract.pristine ? '': 'border border-danger input-error'">
      </div>

      <div class="form-group">
        <input type="file" accept="image/*" (change)="fileChangeEvent($event)" >
      </div>

      <div class="form-group">
        <label> Body: </label>
        <textarea class="form-control " [froalaEditor] rows="4" type="text" [(ngModel)]="article.body" name="abody" #abody="ngModel"></textarea>
      </div>

      <div class="text-right">
        <button class="btn btn-secondary btn-sm mr-1" type="button" [routerLink]="['/articleList/']">Back</button>
        <button class="btn btn-success btn-sm mr-1" type="submit"  [disabled]="!articleForm.form.valid || article.image_data == null">Save</button>
      </div>

    </form>

  </div>
</div>


<div class="m-3 justify-content-center">
  <div class="container">
    <div class="d-flex mt-4 justify-content-center">
      <h5>{{article?.category}}</h5>
    </div>
    <hr size="1" width="" color="white">
    <div class="d-flex justify-content-center">
      <h2 class="font-italic"> {{article?.title}} </h2>
    </div>
    <hr size="1" width="" color="white">
    <div class="d-flex justify-content-center">
      <h4 class="text-justify"> {{article?.subtitle}} </h4>
    </div>
    <div class="d-flex justify-content-center" *ngIf="article.image_data != null">
      <img class="img-size" style="aspect-ratio: 16/9;" [src]="'data:' + article?.image_media_type + ';base64,' +
            article?.image_data " alt="Article image">
    </div>
    <div class="d-flex justify-content-center">
      <h6 class="text-center font-italic"> {{article?.abstract}} </h6>
    </div>
    <div class="mt-5 text-justify justify-content-center mb-4" [innerHTML]="article?.body"></div>
    <footer class="text-right">
      <p class="font-italic">{{article?.id_user}} <span class="font-italic">| {{article?.update_date}}</span></p>
    </footer>
  </div>
</div>
