<div class="d-flex ">
  <div class="container">
    <div class="row"></div>

<form #articleForm="ngForm" (ngSubmit)="sendForm(article)">
<!--  <div class="form-group">-->
<!--    <label> Id: </label>-->
<!--    <input class="form-control" type="text" [(ngModel)]="article.id" name="aid" #aid="ngModel"-->
<!--           [ngClass]="aid.valid || aid.pristine ? '': 'bg-danger'">-->
<!--  </div>-->
  <div class="form-group">
    <label> Title: </label>
    <input class="form-control" type="text" required [(ngModel)]="article.title" name="atitle" #atitle="ngModel"
           [ngClass]="atitle.valid || atitle.pristine ? '': 'bg-danger'">
  </div>
  <div class="form-group">
    <label> Subtitle: </label>
    <input class="form-control" type="text" required [(ngModel)]="article.subtitle" name="asubtitle" #asubtitle="ngModel"
           [ngClass]="asubtitle.valid || asubtitle.pristine ? '': 'bg-danger'">
  </div>

  <div class="form-group">
    <label> Category: </label>
    <select class="form-control" type="text" required [(ngModel)]="article.category" name="acategory" #acategory="ngModel">
      <option disabled selected value> -- Select a Category -- </option>
      <option value="National">National</option>
      <option value="Economy">Economy</option>
      <option value="Sports">Sports</option>
      <option value="Technology">Technology</option>
    </select>
  </div>

  <div class="form-group">
    <label> Abstract: </label>
    <input class="form-control required" type="text" required [(ngModel)]="article.abstract" name="aabstract" #aabstract="ngModel"
           [ngClass]="aabstract.valid || aabstract.pristine ? '': 'bg-danger'">
  </div>

  <div class="form-group">
    <input type="file" accept="image/*" (change)="fileChangeEvent($event)" [(ngModel)]="article.file_input" name="afile_input" #afile_input="ngModel">
  </div>

  <div class="form-group">
    <label> Body: </label>
    <textarea class="form-control " type="text" [(ngModel)]="article.body" name="abody" #abody="ngModel"></textarea>
  </div>

  <div class="text-right">
    <button class="btn btn-secondary btn-sm mr-1" type="button" [routerLink]="['/articleList/']">Cancel</button>
    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="!articleForm.form.valid">Save</button>

  </div>
</form>

  </div>
</div>
