<div  class="align-items-center">
  <div id="logIn" *ngIf="!logInService.isLogged(); else loggedIn">
    <div class="text-center">
      <button class="btn button" type="button" (click)="toggleSignIn()" *ngIf="!showSignIn">
        <i class="bi bi-person-circle"></i> Log In
      </button>
    </div>

    <div class="" *ngIf="showSignIn">
      <form (ngSubmit)="logIn()" #loginForm="ngForm" class="d-flex flex-row justify-content-around">
        <label class="form-label">
          Username:
          <input type="text" name="username" [(ngModel)]="logInData.username" #username='ngModel' class="form-control"
                 autofocus>
        </label>
        <label class="form-label">
          Password:
          <input type="password" name="password" [(ngModel)]="logInData.password" #password='ngModel'
                 class="form-control">
        </label>

        <button class="btn button" type="submit">
          <i class="bi bi-person-circle"></i> Log In
        </button>
      </form>
    </div>
  </div>

  <ng-template #loggedIn>
    <div  class="text-center">
      <span class="px-2">Welcome {{logInService.getUser()?.username}}</span>

      <button (click)="logInService.logout()" >Sign out</button>
    </div>
  </ng-template>
</div>
