

::ng-deep .modal-content {
  background-color: var(--color-background-light);
  color: var(--color-text);
}

::ng-deep .close {
  color: var(--color-text);
}

::ng-deep .close:hover {
  color: var(--color-text-light);
}
