/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color-text: white;
  --color-text-dark: #999;
  --color-background: #1B262C;
  --color-accent: #0F4C75;
  --color-accent-dark: #3282B8;
  --color-accent-light: #BBE1FA;
}


a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: none;
  color: var(--color-text-dark);
}

.button {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.card {
  background-color: var(--color-accent-dark);
  color: var(--color-text);
}

html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-background);
}
